body { 
	padding: 0; 
	font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
	position: relative; 
	overflow: hidden; 
	width: 250px; height: 108px;
	font-size:230%;
	margin: 0;
	line-height: 108px;
	text-align: center;
}

h1, h2, h3, h4, h5 { 
	font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
}


h1 {
  color:#232323;
  font-style:normal;
  font-weight:500;
  letter-spacing:-1px;
  line-height:1.1em;
  margin:30px 0;
  text-align:center;
  font-size:42px;
} 

table, th, td {
   border: 1px solid black;
}

th, td {
  color:#232323;
  font-style:normal;
  font-weight:500;
  letter-spacing:-1px;
  line-height:1.1em;
  margin:30px 0;
  text-align:center;
  font-size:42px;
}

